*{
    box-sizing: border-box;
}

body{
    margin: 0;
}
header{
    background-color: #fea6a5;
    height: 140px;
}

main{
    background-color: #84c3c5;
}
.tela{
    width: 100%;
    display: flex;
    justify-content: space-around; 

    div{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 300px; 
    }

}

.ft1, .ft2, .ft3{
    display: flex;
    width: 300px;
    margin-top: 5%;
}
.ft2{
    margin-top: -6px;
}
.ft3{
    margin-top: 26px;
}
.img1{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 500px;
    width: 525px;
}
.f1, .f2, .f3{
    display: flex;
    width: 300px;
}
.f2{
    margin-top: -72px;
}
.f3{
    margin-top: 72px;
}
footer{
    background-color: #fea6a5;
    height: 50px;
    font-size: 16px;
    display: flex;
    flex-direction: row;
    justify-content: center;      
    gap: 1rem;                    
    align-items: center; 
    bottom: 0;
    overflow: hidden;
    height: 9vh;
}
.links, p{
    color: #fff;
}