*{
    margin: 0;
    padding: 0;
    max-width: 100%;
}

body{
    margin: 0;
}
header{
    background-color: #fea6a5;
    height: 17vh;
    display: flex;
    justify-content: center;
}

main{
    background-color: #84c3c5;
    flex-direction: column;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    div{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 300px; 
        display: inline-block;
        margin: 0 auto;
    }
}

.ft1, .ft2, .ft3{
    display: flex;
    width: 300px;
    margin-top: 5%;

}

.titulo1{
    width: 600px;
    height: 100px;
}
.f1, .f2, .f3{
    display: flex;
    width: 300px;
    margin-top: 5%;
}
footer{
    background-color: #fea6a5;
    height: 50px;
    font-size: 16px;
    display: flex;
    flex-direction: row;
    justify-content: center;      
    gap: 1rem;                    
    align-items: center; 
    bottom: 0;
    overflow: hidden;
    height: 9vh;
}
.links, p{
    color: #fff;
}

@media only screen and (max-width: 900px) {
    main {
        display: flex;
        gap: 10px; /* Ajuste do espaçamento para tablets */
        padding: 10px; /* Ajuste do espaço interno para tablets */
        flex-direction: column;
    }

    main p{
        font-size: 20px;
        margin-top: 20px;
    }

    main div{
        width: 600px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .ft1, .ft2, .ft3{
        height: 800px;
        width: 600px;
    }
    
    .f1, .f2, .f3{
        height: 800px;
        width: 600px;
    }

}