*{
    box-sizing: border-box;
}

body{
    margin: 0;
}
header{
    background-color: #fea6a5;
    height: 140px;
}

main{
    background-color: #84c3c5;
}
.tela{
    width: auto;
    display: flex;
}
.img1{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 500px;
    width: 525px;
}
.fotocapa{
    width: 400px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 20px;
    margin-left: 70px;
    margin-bottom: 20px;
}
.ft{
    border-radius: 100%;
    height: 100px;
    margin-top: 350px;
    margin-left: 100px;
}
.ft2, .ft3, .ft4, .ft5, .ft6{
    border-radius: 100%;
    height: 100px;
    margin-top: 350px;
    margin-left: 50px;
}
.texto1{
    display: flex;
    justify-content: center;
    font-size: 26px;
    padding: 20px;
    margin-left: -900px;
    margin-right: 90px;
    margin-top: -10px;
    text-align: center;
}
footer{
    background-color: #fea6a5;
    height: 50px;
    font-size: 16px;
    display: flex;
    flex-direction: row;
    justify-content: center;      
    gap: 1rem;                    
    align-items: center; 
    bottom: 0;
}
.links, p{
    color: #fff;
}